.stem {
    background-color: black;
    width: 20px;
    height: 50px;
    margin-left: 287px;
}
.trafficLight {
    background-color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 200px;
}

.light {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.red {
    background-color: red;
    margin: 10px;
}

.yellow {
    background-color: yellow;
    margin: 10px;
}

.green {
    background-color: green;
    margin: 10px;
}

.shine {
    box-shadow: 0 0 100px 50px rgba(251, 253, 191, 0.953);
}
