.stem {
    background-color: black;
    width: 20px;
    height: 50px;
    margin:auto;
}

.trafficLight {
    background-color: black;
    padding: 10px;
    display: block;
    width: 170px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.light {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.red {
    background-color: red;

}

.yellow {
    background-color: yellow;
    margin-top: 10px;

}

.green {
    background-color: green;
    margin-top: 10px;

}

.shine {
    box-shadow: 0 0 100px 50px rgba(251, 253, 191, 0.953);
}

.btnStyles {
    margin: auto;
    display: block;
}
